<section class="hero-body">
  <div>
    <div class="tabs">
      <ul>
        <li class="is-active"> <a href="#">Perfil</a> </li>
        {% if login == 'admin' %}
        <li><a href="http://localhost/?pagina=users">Usuarios</a></li>
        {% endif %}
        <li><a href="http://localhost/?pagina=module">Modulos</a></li>
        <li><a href="http://localhost/?pagina=logout">Modulos</a></li>
      </ul>
    </div>

    <div>
      <p class="subtitle">
        Editando de usuario - {{user.login}}
      </p>
      <form action="http://localhost/?pagina=editUser&metodo=save&id={{user.id}}" class="form" method="POST">
        <div class="field">
          <label class="label">Nova senha de acesso</label>
          <div class="control">
            <input required type="password" class="input" name="passwd">
          </div>
        </div>
        <div class="field">
          <label class="label">PIN de confirmação</label>
          <div class="control">
            <input required type="password" class="input" name="pin">
          </div>
        </div>

        <button type="submit" class="button is-primary">Salvar</button>
      </form>
    </div>
  </div>
</section>