<section class="hero-body">
  <div>
    <div class="tabs">
      <ul>
        <li class="is-active"> <a href="#">Perfil</a> </li>
        {% if login == 'admin' %}
        <li><a href="http://localhost/?pagina=users">Usuarios</a></li>
        {% endif %}
        <li><a href="http://localhost/?pagina=module">Modulos</a></li>
        <li><a href="http://localhost/?pagina=login&metodo=logout">Logout</a></li>
      </ul>
    </div>

    <div>
      <p class="subtitle">
        Editando modulo - {{module.titulo}}
      </p>
      <form action="http://localhost/?pagina=editModule&metodo=save&id={{module.id}}" class="form" method="POST">
        <div class="field">
          <label class="label">Titulo</label>
          <div class="control">
            <input required type="text" value="{{module.titulo}}" class="input" name="title">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea required name="description" id="" cols="30" rows="10" class="textarea">
              {{module.descricao}}
            </textarea>
          </div>
        </div>
        <button type="submit" class="button is-primary">Salvar</button>
      </form>
    </div>
  </div>
</section>