<section>
  <div class="hero is-fullheight">
    <div class="hero-body columns is-centered">
      <div class="column is-4 box">
        <h1 class="title has-text-centered">Login</h1>
        <form action="http://localhost/?pagina=login&metodo=login" class="form" method="POST">
          <div class="field">
            <label for="" class="label">Usuario</label>
            <div class="control">
              <input type="text" class="input" name="login">
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Senha</label>
            <div class="control">
              <input type="password" class="input" name="password">
            </div>
          </div>
          <button class="button is-primary">Logar</button>
        </form>
        {% if error %}
        <p class="mt-4 has-text-danger">{{ error }}</p>
        {% endif %}
      </div>
    </div>  
  </div>
</section>