<section>
  <div class="hero is-fullheight">
    <div class="hero-body columns is-centered">
      <div class="column is-6 box">
        <h1 class="title has-text-centered">Login</h1>
        <form action="">
          <div class="field">
            <label for="" class="label">Usuario</label>
            <div class="control">
              <input type="text" class="input">
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Senha</label>
            <div class="control">
              <input type="text" class="input">
            </div>
          </div>
          <button class="button is-primary">Logar</button>
        </form>
      </div>
    </div>  
  </div>
</section>